.contato-body {
  background-color: var(--cor-fundo-hero);
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contato-container {
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--cor-fundo-principal);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.8);
}

.contato-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-destaque-titulo);
  margin-bottom: 1.5rem;
  text-align: center;
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contato-input {
  padding: 0.75rem;
  border: 1px solid var(--cor-texto-secundario);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--cor-texto-principal);
  background-color: var(--cor-fundo-principal);
  transition: border-color 0.3s;
}

.contato-input:focus {
  border-color: var(--cor-circulo-azul);
  outline: none;
}

.btn-primario {
  display: inline-block;
  background-color: var(--cor-botao-primario-bg);
  color: var(--cor-botao-primario-texto);
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-primario:hover {
  background-color: var(--cor-hover-botao-primario);
}

.contato-mensagem {
  margin-top: 1rem;
  font-size: 0.95rem;
  text-align: center;
  color: var(--cor-texto-secundario);
}

.btn-secundario {
  display: inline-block;
  background-color: var(--cor-fundo-card-cinza);
  color: var(--cor-texto-principal);
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-secundario:hover {
  background-color: var(--cor-circulo-cinza);
  color: var(--cor-fundo-principal);
}
